@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 hover:bg-slate-400 mt-52 rounded-full;
}

/* ------------------------- General ------------------------- */
/* Title */
.first-title {
  @apply relative text-secondary mb-3 uppercase tracking-titleSpacing
  dark:text-darkSecondary;
}

.first-title-stripe {
  @apply relative pl-[40px] text-[0.9rem] inline-block text-secondary uppercase tracking-titleSpacing
  dark:text-darkSecondary;
}

.first-title-stripe::before,
.right-contact-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 50%;
}

.second-title {
  @apply text-3xl font-semibold text-primaryIconColor mt-3 mb-4 lg:text-[2rem];
}

/* button */
.btn {
  @apply font-medium bg-primaryIconColor text-white
   hover:bg-indigo-400 hover:text-slate-50 transition duration-300 ease-in-out
   dark:text-black;
}

/* SVG icons */
#skills svg,
#contact svg {
  @apply w-8 mx-auto fill-primaryIconColor;
}

/* Cards */
.card-title {
  @apply pt-3 pb-5 text-lg text-primary font-medium
  dark:text-darkPrimary;
}

.card-button {
  @apply inline-block mt-5 mb-2 py-2 rounded-xl italic text-secondary underline underline-offset-[10px]
   hover:text-primary transition duration-300 ease-in-out
   dark:text-darkSecondary dark:hover:text-darkPrimary;
}

.card-button-test {
  @apply inline-block mt-5 mb-5 py-2 rounded-xl italic text-secondary underline underline-offset-[10px]
   hover:text-primary transition duration-300 ease-in-out
   dark:text-darkSecondary dark:hover:text-darkPrimary;
}

/* ------------------------- Specific ------------------------- */

/* ----- Dark Mode toggle ----- */
.dark-toggle-animate {
  @apply bg-slate-300;
}
.dark-toggle-animate > .circle-toggle {
  @apply translate-x-6 bg-primary;
}

/* ----- Nav-fixed ----- */
.nav-fixed {
  @apply fixed py-2 bg-white/[0.7] backdrop-blur-[5px] shadow-sm shadow-slate-50 lg:py-1
  dark:bg-bgDarkPrimary dark:shadow-slate-950;
}

/* ----- Nav list ----- */
.nav-list-item {
  @apply block mx-6 text-primary 
   group-hover:font-bold group-hover:text-primaryIconColor group-hover:tracking-widest group-hover:underline group-hover:underline-offset-[15px] transition-all duration-500
   dark:text-darkSecondary;
}

/* ----- Hamburger ----- */
.hamburger-line {
  @apply block w-[30px] h-[2px] my-2 rounded-full bg-black
  dark:bg-darkSecondary;
}
/* transisi dan origin (sumbu) ga bisa langsung di sini, transisi outnya jadi berantakan karna class .hamburger-activenya langsung ilang (nambahinnya pake toggle JS) */
.hamburger-active > span:nth-child(1) {
  @apply -rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply rotate-45;
}

/* ----- Project ----- */
.view-images-btn {
  @apply absolute hidden top-0 w-full h-full items-center justify-center cursor-pointer bg-black/50 backdrop-blur-sm font-light;
}

.project-img:hover > .view-images-btn {
  @apply flex;
}

/* view img */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.6s;
}

.thumbnail-active {
  @apply brightness-50;
}

.thumbnail-img {
  @apply w-full h-full rounded-lg border border-slate-400 cursor-pointer transition-all duration-500 group-hover:-translate-y-5;
}
/* end view img */

.project-detail > p {
  @apply text-base text-secondary dark:text-darkSecondary;
}

.project-detail > ul > li {
  @apply list-decimal list-outside text-base text-secondary dark:text-darkSecondary ml-7 pl-2;
}

.project-detail > ul > li > span {
  @apply font-medium;
}

/* ----- Education ----- */
#education li {
  @apply list-disc list-inside p-1;
}

.dot-line {
  @apply before:content-[''] before:absolute before:-ml-[37px] before:mt-[5px] before:w-4 before:h-4 before:bg-[#f1f1f1] before:rounded-full;
}

/* ----- Footer ----- */
footer img {
  @apply max-w-[160px] px-5 lg:px-6 transition duration-500 lg:max-w-[170px]
  dark:grayscale dark:hover:grayscale-0;
}
